.scroll-transparent::-webkit-scrollbar {
  width: 8px;
}

.scroll-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-transparent::-webkit-scrollbar-thumb {
  background: #999; 
  border-radius: 4px;
}
